.github-repos {
  display: flex;
  flex-wrap: wrap;
}
.github-repos > div {
  flex-basis: 32%;
  border: solid 1px #d1d5da;
  border-radius: 2px;
  margin: 0 0 1em 0;
  padding: 1em;
}
.github-repos > div:nth-child(3n) {
  margin-left: 2%;
}
.github-repos > div:nth-child(3n+1) {
  margin-right: 2%;
}

@media screen and (max-width: 667px) {
  .github-repos > div {
    flex-basis: 48.5%;
  }
  .github-repos > div:nth-child(3n) {
    margin-left: 0;
  }
  .github-repos > div:nth-child(3n+1) {
    margin-right: 0;
  }
  .github-repos > div:nth-child(2n) {
    margin-left: 3%;
  }
}

@media screen and (max-width: 414px) {
  .github-repos > div {
    flex-basis: 100%;
  }
  .github-repos > div:nth-child(2n) {
    margin-left: 0;
  }
}
